@use '../../variables.scss' as *;

.comment-form {
    display: flex;
    margin: 0 2px;
    height: 34px;
    padding: 7px 18px 7px 23px;
    background-color: $white;
    border-radius: 5px;
}

.comment-form__textarea {
    width: 100%;
    border: 0;
    padding: 0;
    resize: none;
    vertical-align: middle;
    outline: none;
    font-family: $base-font;
    font-size: 10px;
    line-height: 34px;
    font-weight: $font-bold;
    color: $text-black;
}

.comment-form__btn {
    font-size: 10px;
    line-height: 12px;
    font-weight: $font-bold;
    color: $text-black;
    background-color: $btn-grey;
    border: none;
    border-radius: 5px;
    width: 79px;
    font-family: $base-font;
}