@use './variables.scss' as *;

.app__container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.app__content {
  margin-top: 103px;
  padding: 34px 36px;
  background-color: $background-grey;
  border-radius: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 73%;
  height: 62.2%;
}
