@use './variables.scss' as *;

body {
  margin: 0;
  overflow: hidden;
  font-family: $base-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background-blue;
}
