// Color variables:
$black: #000;
$white: #fff;
$background-blue: #125CB1;
$background-grey: #ECEEF1;
$text-grey: #82878D;
$text-black: #1E1E1E;
$text-blue: #023168;
$btn-grey: #D9D9D9;

// Font variables:
$base-font: Inter,sans-serif;
$font-normal: 400;
$font-semi-bold: 600;
$font-bold: 700;

//Breakpoints:
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;